<html>
    <head>
        <title>Basic video trimmer</title>
    </head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles/style.css') }}">




    <body>
    <div class ="mid">
        <form action = "/search" class = "class1"  name = "url_form" method = "POST">
            <span class = "head" >Enter URL Of the video </span>  
            <input class = "tb" type = "text" name = "url" id = "url" required><br>
            <p>Ex. : https://upload.wikimedia.org/wikipedia/commons/3/3b/2_a%C3%B1os_-_Sigue_instrucciones_de_dos_pasos.webm</p>
            <input class = "up"type = "submit" value = "Upload"> 
        </form>



            {% if var== 1 %}
            <p class = "flash">Fetched Succesfully!</p>
            <div class = "myvideo">
                <video width = "750"controls = "controls"src = {{url}} type = "video/webm"></video>
            </div>
            <div class = "dur">Total duration of you video in seconds  :   {{dur}} sec</div><br>

            <form action = "/crop" class = "class1"  name = "crom_form" method = "POST">
                <span class = "cb" >Crop from(in seconds) </span>  
                <input class = "regtext" type = "text" name = "start" id = "start" required>
                <span class = "cb" >Crop till(in seconds) </span> 
                <input class = "regtext" type = "text" name = "end" id = "end" required><br><br>
                <input class =  "up"type = "submit" value = "Crop"> 
            </form>
            {% endif %}

            {% if err== 0 %}
            <p class= "flash">Cropped Successfully! </p>
            <div class =  "myvideo">
                <video width = "750"controls = "controls"src ={{crurl}} type = "video/webm"></video>
            </div>
            {% endif %}

        </div>
        </body>
</html>